<section class="banner light">
    <div class="container">
        <a href="/dariush">

            <!--[if gt IE 8]><!-->
                <img src="/assets/img/logo.svg" alt="Dariush Nazari" class="logo" />
            <!--<![endif]-->

            <!--[if lte IE 8]>
                <img src="/assets/img/logo.png" alt="Dariush Nazari" class="logo" />
            <![endif]-->

            <p class="sub">Ports, Logistics, Insurance</p>
            <p class="sub"> & More</p>
        </a>
    </div>
</section>
